$night-background: #1a1a1a; // Dark background color
$night-text: #ffffff; // White text color
$night-accent: #3498db; // Accent color (e.g., for links or buttons)
$night-box-shadow: rgba(255, 255, 255, 0.1); // Box shadow color with opacity

$night-gallery-background: #222; // Dark background for the image gallery
$night-gallery-box-shadow: rgba(255, 255, 255, 0.1); // Box shadow color for gallery items


.App {
  text-align: center;
  background-color: $night-background;

  h1 {
    color: $night-text;
  }

  .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;

    $box-shadow-color: rgba(0, 0, 0, 0.1);
    background-color: $night-gallery-background;

  }

  .image {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}